/* pages/pick/pick.wxss */
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .pick {
    flex: 1;
    min-height: 0;
    overflow-y: hidden;
    background: linear-gradient(180deg, #fff6df -3%, #ffffff 100%);
    &-content {
      padding: 100rpx 56rpx 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 44rpx 68rpx;
      overflow-y: auto;
      .template-item {
        display: flex;
        flex-direction: column;
        &__img {
          margin-bottom: 24rpx;
          width: 100%;
        }
        &__btn {
          width: 100%;
        }
      }
    }
  }
}
