/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}
page {
  // Button
  // --button-mini-height: 22px;
  // --button-mini-min-width: 50px;
  // --button-mini-font-size: @font-size-xs;
  --button-small-height: 64rpx;
  --button-small-font-size: 28rpx;
  // --button-small-min-width: 60px;
  // --button-normal-font-size: @font-size-md;
  // --button-large-height: 50px;
  // --button-default-color: @text-color;
  // --button-default-height: 44px;
  // --button-default-font-size: @font-size-lg;
  // --button-default-background-color: @white;
  // --button-default-border-color: @border-color;
  --button-primary-color: #e4d7aa;
  --button-primary-background-color: #1b6265;
  --button-primary-border-color: #1b6265;
  // --button-info-color: @white;
  // --button-info-background-color: @blue;
  // --button-info-border-color: @blue;
  // --button-danger-color: @white;
  // --button-danger-background-color: @red;
  // --button-danger-border-color: @red;
  // --button-warning-color: @white;
  // --button-warning-background-color: @orange;
  // --button-warning-border-color: @orange;
  // --button-line-height: 20px;
  // --button-border-width: 1px;
  --button-border-radius: 48rpx;
  // --button-round-border-radius: @border-radius-max;
  // --button-plain-background-color: @white;
  // --button-disabled-opacity: @disabled-opacity;
}
